mixin large-header(title, light)
  h3.large-header
    .large-header-box= title
    .large-header-arrow-down( class=( light ? 'light-arrow' : '' ) )

mixin web-container(title, len, imgPrefix, href, copy)
  .web-container
    .web-fg
      .web-left-frame
        .web-overlay
        img.web-left-macbook( src='/images/macbook.png' )
      .web-right-copy
        h1= title
        p= copy
        if href.length
          a.web-link( href='http://' + href, target='_blank' ) Visit website
    ul.web-images
      for n, i in new Array(len)
        li
          img( src="/images/#{imgPrefix}#{i + 1}.png" )

mixin logo()
  .logo
    h1
      span.home-r r
      | ache
      span.home-l l
    h2 for design

mixin slide-show(folder, ext, num, captions)  
  .slide-show
    .slide-show-prev
    ul
      for n, i in new Array(num)
        li( class=(i == 0 ? 'active' : ''), style=captions ? 'padding: 25px 0' : '' )
          img( src="images/" + folder + "/#{i + 1}." + ext )
          if captions && captions[i]
            .slide-show-caption= captions[i]
    .slide-show-next

doctype html
html( lang="en" )
  include head
  body.body-init

    #container

      //- Sticky Header
      #hamburger &#9776;
      #header
        nav
          a#home-icon.nav-active( href='#home' ) RP
          a( href='#nofeedigs' ) NoFeeDigs
          a( href='#medical' ) Rapaport & JTav
          a( href='#graphic-design' ) Graphic Design
          a( href='#footer' ) Resume/Contact
          a( href='/video' ) Video Portfolio

      //- Homepage
      #home
        #home-header
          mixin logo
        button#home-down-arrow

      //- No Fee Digs
      #nofeedigs
        mixin large-header( 'NoFeeDigs', false )
        .white-bg
          mixin web-container('NoFeeDigs Website', 3, 'nfd/', 'nofeedigs.com', "Co-founder of NoFeeDigs; instrumental in business, design and product development; created social media. Website (nofeedigs.com) designed to help people find no fee apartments in New York City.")
          h2.centered-header NoFeeDigs Identity 
          mixin slide-show('nfd-identity', 'png', 6)

      //- Medical Design
      #medical
        mixin large-header( 'Rapaport & JTav', false )
        .white-bg
          mixin web-container('David Rapaport, M.D. Website', 6, 'dr-web/', '', "Designed and created identity package for David P. Rapaport, MD (Rapaport Plastic Surgery) including: logo, website, banners (for website and social media), business cards and letterhead, customized scrubs, water bottles and tote bags; set up Dr. Rapaport's social media accounts as well as filmed and edited promotional videos for his YouTube channel.")
          h2.centered-header David Rapaport, M.D. Identity
          ul.two-divided-grid
            li.two-grid-wide
              img( src="images/dr-identity/1.jpg" )
            li.two-grid-wide
              img( src="images/dr-identity/2.jpg" )
            li.two-grid-wide
              img( src="images/dr-identity/3.jpg" )
            li.two-grid-wide
              img( src="images/dr-identity/4.png" )
          ul.two-divided-grid
            li
              img( src="images/dr-identity/5.png" )
            li
              img( src="images/dr-identity/6.png" )
            li
              img( src="images/dr-identity/7.png" )
            li
              img( src="images/dr-identity/8.png" )
            li
              img( src="images/dr-identity/9.jpg" )
            li
              img( src="images/dr-identity/10.png" )

          //- Coolspa
          mixin web-container('CoolSpa Fifth Avenue', 1, 'coolspa-web/', '', "Identity package and marketing for CoolSpa Fifth Avenue (founded by Dr. David P. Rapaport, a Harvard/NYU trained plastic surgeon) including: logo, website, and promotional material (including male and female patient brochures, advertisements that premiered in New York Magazine, event invitations, water bottles, tote bags, etc.).")
          h2.centered-header CoolSpa Fifth Avenue Identity
          ul.two-divided-grid
            li.two-grid-wide
              img( src="images/coolspa/l.png" )
          ul.two-divided-grid
            li
              img( src="images/coolspa/1.jpg" )
            li
              img( src="images/coolspa/2.png" )
            li
              img( src="images/coolspa/3.png" )
            li
              img( src="images/coolspa/4.jpg" )
          ul.two-divided-grid
            li.two-grid-wide
              img( src="images/coolspa/b1.jpg" )
            li.two-grid-wide
              img( src="images/coolspa/b2.jpg" )
          ul.three-divided-grid( style='border-bottom: 1px solid #eee; padding-bottom: 100px' )
            li
              img( src="images/coolspa/ad1.jpg" )
            li
              img( src="images/coolspa/ad2.jpg" )
            li
              img( src="images/coolspa/ad3.jpg" )

          mixin web-container('JTav Clinical Skincare Website', 6, 'jtav/', 'jtavclinicalskincare.com', "Designed and created website for Esthetician, Joie Tavernise (JTav Clinical Skin Care); set up Joie's social media accounts; photographed Joie, employees, and office space for website and promotional material; filmed and edited video to promote Joie's Ultherapy practice (for her website, Vimeo account, and YouTube channel).")

      //- Graphic Design
      #graphic-design
        mixin large-header( "Graphic Design", false )
        .white-bg
          h2.centered-header Russell's Reserve Identity Concepts
          p.brief Commissioned by design partners&nbsp;
            a( href='http://pigottschaefer.com/', target='_blank' ) Pigott/Schaefer
            |  to help with identity concepts to premiumize Russell’s Reserve.
            |  Below are some bottle designs and marketing concepts I created.
          ul.two-divided-grid
            li.two-grid-wide
              img( src="images/rr/6.jpg" )
            li.two-grid-wide
              img( src="images/rr/bow-tie.png" )
            li.two-grid-wide
              img( src="images/rr/10.jpg" )
            li.two-grid-wide
              img( src="images/rr/s1.jpg" )
          h2.centered-header Gant Men's Grooming Products Concept Designs
          mixin slide-show('gant', 'jpg', 3)
          h2.centered-header Assorted Logo & Graphic Design Work
          mixin slide-show('logo', 'jpg', 12, ["Logo design for business that provides serviced apartment accommodation to both corporate and leisure guests","Logo design for skateboarding company in Salt Lake City, UT","Logo and skateboard design for skateboarding company in Salt Lake City, UT","Logo design for aftermarket auto parts dealer in Singapore","T-shirt design for startup company that sells guidance to other start-ups","Logo design for a new backyard beanbag-toss game company based in Saskatoon, Saskatchewan, Canada","Logo design for dairy company in Wisconsin","Logo design for artisan jewelry design company","Logo design for a health coaching company","Logo design for naturopathic clinic specializing in digestive health","Logo design for makeup brand that fills scars and deep pores","Logo design for children's ski company in Vail, Colorado"])

      //- Modal window
      #modal-container
        #modal-close
        #modal
          img( src='images/jtav/1.png' )

      //- Footer
      #footer-container
        #footer
          button#home-up-arrow
          a#download-resume( href='resume.pdf', _target='blank' ) Download Resume
          #contact-box
            .contact-box-left
              | L
              br
              | T
              br
              | E
            .contact-box-right
              | New York, NY
              br
              | 801 870 5285
              br
              a( href='mailto:racheltpigott@gmail.com' ) racheltpigott@gmail.com
            ul.contact-box-social-media
              li.twitter
              li.facebook
              li.instagram
          mixin logo

    include scripts